.showcase {
  padding: 5rem 0;
  .title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
  }

  ul {
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    justify-content: center;

    li {
      background-color: #f0f0f0;
      padding: 1rem;
      border-radius: 32px;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;

      img {
        max-width: 100%;
        height: auto;
        max-height: 300px;
      }
    }
  }
}

@media (min-width: 640px) {
  .showcase {
    .title {
      font-size: 48px;
      line-height: 56px;
    }
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
