.footer-wrapper {
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column-reverse;
  color: #384356;

  align-items: center;
  gap: 4rem;

  ul {
    display: flex;
    flex-direction: column;
    flex: 1;
    li {
      list-style: none;

      a {
        text-decoration: none;
      }
    }
  }

  .links {
    display: flex;
    gap: 4rem;

    ul {
      li {
        &:first-child {
          padding-bottom: 2rem;
        }

        padding-bottom: 1.5rem;
      }
    }
  }
}

@media (min-width: 640px) {
  footer {
    flex-direction: row;
    .links {
      gap: 8rem;
    }
  }
}
